@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?dk1i0l');
	src:url('fonts/icomoon.eot?dk1i0l#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?dk1i0l') format('truetype'),
		url('fonts/icomoon.woff?dk1i0l') format('woff'),
		url('fonts/icomoon.svg?dk1i0l#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-drink2:before {
	content: "\e907";
}
.icon-coffee:before {
	content: "\e90a";
}
.icon-radio:before {
	content: "\e900";
}
.icon-box:before {
	content: "\e90b";
}
.icon-pig:before {
	content: "\e906";
}
.icon-external-link-square:before {
	content: "\f14c";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-connection:before {
	content: "\e901";
}
.icon-history:before {
	content: "\e905";
}
.icon-spoon-knife:before {
	content: "\e903";
}
.icon-connection:before {
	content: "\e901";
}
.icon-history:before {
	content: "\e905";
}
.icon-spoon-knife:before {
	content: "\e903";
}

